<template>
  <!-- <SfHeader
    data-cy="app-header"
    @click:cart="toggleCartSidebar"
    @click:account="handleAccountClick"
    @enter:search="changeSearchTerm"
    @change:search="p => term = p"
    :searchValue="term"
    :cartItemsQty="cartTotalItems"
    :accountIcon="accountIcon"
    :wishlistIcon="false"
    class="sf-header--has-mobile-search"
  >

    <template #navigation v-if="categories.length > 0">
      <SfHeaderNavigationItem v-for='cat in categories' :key="cat.id" class="nav-item" :data-cy="'app-header-url_' + cat.handle"  :label="cat.title" :link="localePath('/c/' + cat.handle )" />
    </template>
  </SfHeader> -->
  <header class="header">
    <SfButton class="color-secondary menu-button">
      <SfIcon icon="list" size="xxs" color="white" class="menu-button--icon" />
      Menu
    </SfButton>

    <nuxt-link
      data-cy="app-header-url_logo"
      :to="localePath('/')"
      class="sf-header__logo"
    >
      <img
        src="img/sparesbox-logo.svg"
        alt="Sparesbox Logo"
        class="sf-header__logo-image"
      />
    </nuxt-link>
    <SfSearchBar
      placeholder="Search (sku, part, part number, vehicle, etc.)"
      :icon="{ size: '1.25rem', color: '#43464E' }"
      aria-label="Search"
      class="menu-search"
    />
    <SfButton class="sf-button--text menu-button-text">
      <SfIcon icon="profile" size="xxs" color="dark-secondary" />
      Log In
    </SfButton>
    <SfButton class="sf-button--text menu-button-text">
      <SfIcon icon="profile" size="xxs" color="dark-secondary" />
      Create Account
    </SfButton>
    <SfButton class="sf-button--text menu-button-text">
      <SfIcon icon="profile" size="xxs" color="black" />
      <strong>MY GARAGE:</strong>
      Add Vehicle
    </SfButton>
    <SfButton class="color-primary menu-button">
      <SfIcon
        icon="empty_cart"
        size="xxs"
        color="white"
        class="menu-button--icon"
      />
      Cart
    </SfButton>
  </header>
</template>

<script type="module">
import {
  SfHeader,
  SfImage,
  SfButton,
  SfIcon,
  SfSearchBar,
} from "@storefront-ui/vue";
import useUiState from "~/composables/useUiState";
import {
  useCart,
  useWishlist,
  useUser,
  cartGetters,
  useCategory,
} from "@vue-storefront/shopify";
import { computed, ref } from "@vue/composition-api";
import { onSSR } from "@vue-storefront/core";
import useUiHelpers from "~/composables/useUiHelpers";
import LocaleSelector from "./LocaleSelector";

export default {
  components: {
    SfHeader,
    SfImage,
    LocaleSelector,
    SfButton,
    SfIcon,
    SfSearchBar,
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup(props, { root }) {
    const {
      toggleCartSidebar,
      toggleWishlistSidebar,
      toggleLoginModal,
    } = useUiState();
    const { changeSearchTerm, getFacetsFromURL } = useUiHelpers();
    const { isAuthenticated, load: loadUser } = useUser();
    const { cart, load: loadCart } = useCart();
    const { search, categories } = useCategory("menuCategories");
    const { load: loadWishlist } = useWishlist();
    const term = ref(getFacetsFromURL().term);
    const curCatSlug = ref(getFacetsFromURL().categorySlug);
    const cartTotalItems = computed(() => {
      const count = cartGetters.getTotalItems(cart.value);
      return count ? count.toString() : null;
    });

    const accountIcon = computed(() =>
      isAuthenticated.value ? "profile_fill" : "profile"
    );

    // TODO: https://github.com/DivanteLtd/vue-storefront/issues/4927
    const handleAccountClick = async () => {
      if (isAuthenticated.value) {
        return root.$router.push("/my-account");
      }

      toggleLoginModal();
    };

    onSSR(async () => {
      await loadUser();
      await loadCart();
      await loadWishlist();
      await search({ slug: "" });
    });

    return {
      accountIcon,
      cartTotalItems,
      handleAccountClick,
      toggleCartSidebar,
      toggleWishlistSidebar,
      changeSearchTerm,
      term,
      curCatSlug,
      categories,
    };
  },
};
</script>

<style lang="scss" scoped>
.menu-button-text {
  display: flex;
}

.menu-button:focus,
.menu-button:active {
  text-decoration: none;
}

.menu-button--icon {
  margin-right: 1rem;
}

.header {
  --header-padding: var(--spacer-sm);
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  @include for-desktop {
    --header-padding: 0;
  }
  &__logo-image {
    height: 100%;
  }
}
</style>
