<template>
  <div>
    <LazyHydrate when-idle>
      <AppHeader />
    </LazyHydrate>

    <nuxt :key="$route.fullPath" />

    <LazyHydrate when-idle>
      <AppFooter />
    </LazyHydrate>
  </div>
</template>

<script>
import AppHeader from '~/components/AppHeader.vue';
import AppFooter from '~/components/AppFooter.vue';
import LazyHydrate from "vue-lazy-hydration";

export default {
  components: {
    AppHeader,
    AppFooter,
    LazyHydrate,
  },
};
</script>
