<template>
  <div>
    <div class="hero">
      <p>
        Promotion ends midnight AEST. 28.06.21. Exclusions and T&Cs apply. See
        www.sparesbox.com.au/about/legals for more details.
      </p>
    </div>
    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md p-8  m-8">
      <p class="text-xl font-medium text-black">Tailwind</p>
      <p class="text-purple-900 text-lg">Tailwind with Nuxt.JS!</p>
    </div>
  </div>
  <!-- <SfHero class="hero">
      <SfHeroItem
        v-for="(hero, i) in heroes"
        :key="i"
        :title="hero.title"
        :subtitle="hero.subtitle"
        :button-text="hero.buttonText"
        :background="hero.background"
        :image="hero.image"
        :class="hero.className"
      />
    </SfHero>
    <LazyHydrate when-visible>
      <SfBannerGrid :banner-grid="1" class="banner-grid">
        <template v-for="item in banners" v-slot:[item.slot]>
          <SfBanner
            :key="item.slot"
            :title="item.title"
            :subtitle="item.subtitle"
            :description="item.description"
            :button-text="item.buttonText"
            :image="item.image"
            :class="item.class"
          />
        </template>
      </SfBannerGrid>
    </LazyHydrate> -->
  <!-- <LazyHydrate when-visible>
      <RelatedProducts
        :products="products"
        :loading="productsLoading"
        title="Match it with"
      />
    </LazyHydrate>

    <LazyHydrate when-visible>
      <SfCallToAction
        title="Subscribe to Newsletters"
        button-text="Subscribe"
        description="Be aware of upcoming sales and events. Receive gifts and special offers!"
        image="https://cdn.shopify.com/s/files/1/0407/1902/4288/files/newsletter_1240x202.jpg?v=1616496568"
        class="call-to-action"
      />
    </LazyHydrate>
    <LazyHydrate when-visible>
      <InstagramFeed />
    </LazyHydrate> -->

  <!-- <LazyHydrate when-visible>
      <MobileStoreBanner />
    </LazyHydrate> -->
  <!-- </div> -->
</template>
<script type="module">
import {
  /* webpackChunkName: 'SfHero' */ SfHero,
  /* webpackChunkName: 'SfBanner' */ SfBanner,
  /* webpackChunkName: 'SfCallToAction' */ SfCallToAction,
  /* webpackChunkName: 'SfSection' */ SfSection,
  /* webpackChunkName: 'SfCarousel' */ SfCarousel,
  /* webpackChunkName: 'SfProductCard' */ SfProductCard,
  /* webpackChunkName: 'SfImage' */ SfImage,
  /* webpackChunkName: 'SfBannerGrid' */ SfBannerGrid,
  /* webpackChunkName: 'SfHeading' */ SfHeading,
  /* webpackChunkName: 'SfArrow' */ SfArrow,
  /* webpackChunkName: 'SfButton' */ SfButton,
  SfCard,
} from "@storefront-ui/vue";
import RelatedProducts from "~/components/RelatedProducts.vue";
import InstagramFeed from "~/components/InstagramFeed.vue";
import {
  /* webpackChunkName: 'useProduct' */ useProduct,
  /* webpackChunkName: 'useCart' */ useCart,
  /* webpackChunkName: 'productGetters' */ productGetters,
} from "@vue-storefront/shopify";
import {
  /* webpackChunkName: 'computed' */ computed,
} from "@vue/composition-api";
import { onSSR } from "@vue-storefront/core";
import MobileStoreBanner from "~/components/MobileStoreBanner.vue";
import LazyHydrate from "vue-lazy-hydration";

export default {
  name: "Home",
  layout: "home",
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup() {
    const {
      products: relatedProducts,
      search: productsSearch,
      loading: productsLoading,
    } = useProduct("relatedProducts");
    const { cart, load: loadCart, addItem: addToCart, isInCart } = useCart();

    onSSR(async () => {
      await productsSearch({ catId: 123, limit: 8 });
      await loadCart();
    });
    return {
      products: computed(() =>
        productGetters.getFiltered(relatedProducts.value, { master: true })
      ),
      getChkId: computed(() => cart.value.id),
      productsLoading,
      productGetters,
      addToCart,
      isInCart,
    };
  },
  components: {
    InstagramFeed,
    SfHero,
    RelatedProducts,
    SfBanner,
    SfCallToAction,
    SfSection,
    SfCarousel,
    SfCard,
    SfProductCard,
    SfImage,
    SfBannerGrid,
    SfHeading,
    SfArrow,
    SfButton,
    MobileStoreBanner,
    LazyHydrate,
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  data() {
    return {
      heroes: [],
      banners: [
        //         :title="item.title"
        // :subtitle="item.subtitle"
        // :description="item.description"
        // :button-text="item.buttonText"
        // :image="item.image"
        // :class="item.class"
      ],
    };
  },
  methods: {
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    toggleWishlist(index) {
      this.products[index].isInWishlist = !this.products[index].isInWishlist;
    },
  },
};
</script>

<style lang="scss" scoped>
.article-meta h4 a {
  color: #111111;
  font-weight: 600;
  font-size: 20px;
}
.article-meta {
  margin-top: 10px;
}
.article-item__meta-item:not(:last-child)::after {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  margin: -1px 10px 0 10px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.4);
  vertical-align: middle;
}
#home {
  box-sizing: border-box;
  padding: 0 var(--spacer-sm);
  @include for-desktop {
    max-width: 1240px;
    padding: 0;
    margin: 0 auto;
  }
}

.hero {
  margin: var(--spacer-xl) auto var(--spacer-lg);
  background: url("https://cdnsb.sparesbox.com.au/homepage-promo-Tax-Time-08-June-28-June-desktop.jpg");
  height: 300px;
  width: 100%;
  background-size: 100% 100%;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  --hero-item-background-position: center;
  ::v-deep .sf-link:hover {
    color: var(--c-white);
  }
  @include for-desktop {
    margin: var(--spacer-xl) auto var(--spacer-2xl);
    height: 600px;
  }

  p {
    color: white;
    text-align: center;
    margin-top: auto;
  }
}

::v-deep .sf-hero__controls {
  --hero-controls-display: none;
}

.banner-grid {
  --banner-container-width: 50%;
  margin: var(--spacer-xl) 0;
  ::v-deep .sf-link:hover {
    color: var(--c-white);
  }
  @include for-desktop {
    margin: var(--spacer-2xl) 0;
    ::v-deep .sf-link {
      --button-width: auto;
    }
  }
}

.banner {
  &__tshirt {
    background-position: left;
  }
  &-central {
    @include for-desktop {
      --banner-container-flex: 0 0 70%;
    }
  }
}

.similar-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--spacer-2xs);
  --heading-padding: 0;
  border-bottom: 1px var(--c-light) solid;
  @include for-desktop {
    border-bottom: 0;
    justify-content: center;
    padding-bottom: 0;
  }
}

.call-to-action {
  background-position: right;
  margin: var(--spacer-xs) 0;
  @include for-desktop {
    margin: var(--spacer-xl) 0 var(--spacer-2xl) 0;
  }
}

.carousel {
  margin: 0 calc(var(--spacer-sm) * -1) 0 0;
  @include for-desktop {
    margin: 0;
  }
  &__item {
    margin: 1.375rem 0 2.5rem 0;
    @include for-desktop {
      margin: var(--spacer-xl) 0 var(--spacer-xl) 0;
    }
    &__product {
      --product-card-add-button-transform: translate3d(0, 30%, 0);
    }
  }
}
</style>
